.contentContainer{
    width: 100vw;
    padding: 120px 200px;
}

span{
    font-size: 1rem;
}

ul{
    width: 100%;
    padding: 16px 32px; 
}

.content{
    display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 1680px;
}

/* a{
    color: var(--highlight2-color); 
    font-size: 1rem;
    font-weight: 500; 
    color:white
} */

a:hover{
    text-decoration: underline;
}

.indemnity{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

h4{
font-size: 1.25rem;
}

@media (max-width: 1250px) {
    section{
    padding:120px 24px;
}

}
