.hero{
    height: calc(100vh - 89px - 4px);
}

.right{
    width: 500px;
    height: 500px;
    background-color: rgb(57, 57, 59);
    border-radius: 32px;
}
.hero-avatar {
    width: 460px;
    border-radius: 50%;
}

