section{
background-color: rgba(0, 0, 0, 0.9);
}

.right{
    width: 500px;
    height: 500px;
    background-color: rgb(57, 57, 59);
    border-radius: 32px;
}
img {
    width: 460px;
    border-radius: 50%;
}