@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme {
  --breakpoint-navbar: 59.375rem;
}

@layer base {
  a, a:hover, a:visited, a:focus {
    text-decoration: none !important;
  }
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

.dark {
  color-scheme: dark;
  background-color: #0e0e0e;
}

.light {
  color-scheme: light;
  background: radial-gradient(105% 125% at 50% 50%, #ebe8e8 40%, #2da1cf 100%);
}

main {
  display: flex;
  flex-direction: column;
}

.content-beg{
  max-width: 1920px;
  width: 100%;
} 

